## Class notes 
June 14 2017
Using Apply in Pandas

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("boros.csv")
df.head()

     borough  cats  population
0  Manhattan   107        1400
1   Brooklyn   205        3412
2      Bronx    33         323

In [4]:
df['cats']/df['population']
#calculating cats per capita

0    0.076429
1    0.060082
2    0.102167
dtype: float64

In [6]:
#let's save it in a new column.
df['cats_per_capita'] = df['cats']/df['population']
df.head()

     borough  cats  population  cats_per_capita
0  Manhattan   107        1400         0.076429
1   Brooklyn   205        3412         0.060082
2      Bronx    33         323         0.102167

In [ ]:
#now we want a word there, a qualification: cats_per_capita >= 10 = high; cats_per_capita =< 10 = low
if cats_per_capita < 0.10:
    print('low')
else:
    print('high')

In [12]:
#let's say we have a list of cat_pops. 

cat_pops = [0.07, 0.01,0.05,0.06,0.10, 0.01]
for each_element in cat_pops:
    if each_element < 0.07:
        print('low')
    else:
        print('high')

high
low
low
low
high
low

# Functions & Returns

The things below (len, max and sum) are all functions. When they give you something back it's called **RETURNING** something.

# Returns 
((don't forget this word))

## Think of every single row coming in as a dictionary. 
So when you say row['some_name'] it has to be one of the columns that is defined in our data frame or it won't work.

In [22]:
len('Hello')
max([3,4,5,6,7])
sum([3,3,3])

9

In [23]:
#This is a FUNCTION
#if you give your FUNCTION a ROW of your DATAFRAME
#it will give you the number of cats per capita
def cats_per_capita(row): #note that the name cats_per_capita is ARBITRARY. you could call it hotdogs. 
    return row['cats']/row['population']
#note the word RETURN. you type the word return and then you give something back.
#what if you want it to return nothing?! Type return 0. It'll return 0.
df.apply(cats_per_capita, axis=1)

#note that this is the same as df['cats]/df['population]

0    0.076429
1    0.060082
2    0.102167
dtype: float64

Above we're saying hey data frame, I want you to run the exact code for every row in our data frame.
Think about row as being a dictionary. **Always use the word row to avoid confusion**

In [24]:
#let's make another function:
numbers = [1,2,3]
for each_elemnt in numbers:
    print("I am looking at", each_element)

I am looking at 0.01
I am looking at 0.01
I am looking at 0.01

In [25]:
def looking_at_something(row):
    print("I am looking at", row)
    print('-----')
df.apply(looking_at_something)
#note we're applying this to our df.
#the first thing it shows me is the first column, then the second column, then the third.
#NOTE THAT HERE we're MISSING AXIS = 1. If you don't have axis=1, pandas will look at the columns and not the rows

I am looking at 0    Manhattan
1     Brooklyn
2        Bronx
Name: borough, dtype: object
-----
I am looking at 0    107
1    205
2     33
Name: cats, dtype: object
-----
I am looking at 0    1400
1    3412
2     323
Name: population, dtype: object
-----
I am looking at 0    0.0764286
1    0.0600821
2     0.102167
Name: cats_per_capita, dtype: object
-----

borough            None
cats               None
population         None
cats_per_capita    None
dtype: object

In [26]:
def looking_at_something(row):
    print("I am looking at", row)
    print('-----')
df.apply(looking_at_something, axis=1)
#note the df.apply. at the beginning we defined our df as df.

I am looking at borough            Manhattan
cats                     107
population              1400
cats_per_capita    0.0764286
Name: 0, dtype: object
-----
I am looking at borough             Brooklyn
cats                     205
population              3412
cats_per_capita    0.0600821
Name: 1, dtype: object
-----
I am looking at borough               Bronx
cats                     33
population              323
cats_per_capita    0.102167
Name: 2, dtype: object
-----

0    None
1    None
2    None
dtype: object

In [28]:
#let's remind ourselves of what's in here.
df.head()

     borough  cats  population  cats_per_capita
0  Manhattan   107        1400         0.076429
1   Brooklyn   205        3412         0.060082
2      Bronx    33         323         0.102167

In [29]:
#let's take the results
#here we're saying hey, let's take every row and run this new function, CALCULATE CATS. in the column 
#cats_per_capita, look at the first row and see how many cats_per_capita do you have?
#if the number is less than 0.1, return low. otherwise, return high.
def calculate_cats(row):
    if row['cats_per_capita'] < 0.1:
        return 'low'
    else:
        return 'high'
df.apply(calculate_cats, axis=1)
#now take this output and store it in a new column
df['cat_words'] = df.apply(calculate_cats, axis=1)
#and take a look at the df now.
df.head()

     borough  cats  population  cats_per_capita cat_words
0  Manhattan   107        1400         0.076429       low
1   Brooklyn   205        3412         0.060082       low
2      Bronx    33         323         0.102167      high

# The whole point of .apply is that you already have a df that you're working with in advance
Then you can use that df to do other things and run through websites etc. (think of truck example, nail salon example)

# Things you'll forget: axis = 1 . 
to test things, print(row). 
# you'll also forget 'return'

In [ ]:
def scrape_some_stuff(row):
    print('I am about to scrape', row['borough'])
    url = 'http://www.cats.com/population'+row['borough']
    print('Visiting', url)
    print('I found some cats with BeautifulSoup')
    print('------------')
df.apply(scrape_some_stuff, axis=1)

# Controlling browsers through Python
as a way to get around having to enter all the form data and headers and things when you're accessing a site via python (like we did for texas barber violations)

In [30]:
import selenium

# WebDriver
You need one specific to the browser that you're using. So you need one for Chrome. Selenium is not python, it's a different thing. We installed Python bindings for selenium-there's something on your machine that isn't python but your computer can talk to it anyway. Be aware that if you're looking for code for selenium it can use lots of different languages; make sure it's for python.